* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Yu Gothic UI','Candara',sans-serif;
}

.fa {
  padding: 20px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
}

/*ヘッダー*/
header {
  height: 70px;
  width: 100%;
  background-color: rgba(100,200,230,0.9);
  position:fixed;
  z-index: 10;
  font-size: 18px;
}

.head-left {
  float: left;
}

.logo {
  line-height: 70px;
}

.head-right {
  float: right;
}

header ul {
  line-height: 70px;
}

header li {
  float: left;
  margin-left: 10px;
}

/*ヘッダーボトム*/
.header-bottom {
  padding-top: 120px;
  padding-bottom: 40px;
  background-image: url(../img/海中　フリー.jpg);
  text-align:center;
  background-size:cover;
  line-height: 70px;
}
.header-bottom h1 {
  font-size: 40px;
}
.twitter , .instagram {
  width: 60px;
  margin: 20px 80px;
}

/*活動内容*/
.main-action {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.sliderArea {
  width: 90%;
  margin: auto;
}

.slider img{
  padding-top: 20px;
  width: 500px;
  height: 400px;
  margin: 0 auto;
}
.slider p {
  padding: 10px 0 30px 0;
  font-size: 20px;
  font-weight: bold;
}


/*メンバー*/
.main-member {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}
.title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 26px;
}
.member-left {
  float: left;
  width: 40%;
  text-align: center;
}
.member-left img {
  width: 300px;
  height: 240px;
  border-radius: 10px;
}
.member-right {
  float:left;
  width: 50%;
}
.member-right h3 {
  margin-bottom: 10px;
  font-size: 24px;
}
.member-right p {
  line-height: 30px;
}
.clear {
  clear: both;
}
.member {
  padding-bottom: 30px;
}


/*お問い合わせ*/
.main-contact {
  padding: 30px;
  background-color: #faf0e6;
}
.access {
display: inline-block;
width: 55%;
}
.access h4 {
  margin-top: 20px;
}
.access img {
  width: 80%;
  margin: 20px auto;
  border: 1px solid black;
}
.contact {
  padding-left: 30px;
  display: inline-block;
  width: 40%;
  }
.contact h3 {
  margin: 20px;
  text-align: center;
}

input {
  width: 300px;
  height: 35px;
}
textarea {
  width: 400px;
  height: 120px;
}
input ,textarea {
  display: block;
  margin: 30px 10px 0 10px;
  padding: 20px;
  font-size: 20px;
  border-radius: 3px;
}
button {
  font-family: 'Dosis', sans-serif;
  width: 120px;
  height: 50px;
  padding: 10px;
  margin: 30px 10px 0 10px;
  background-color: rgba(100,150,105,0.6);
}
/*フッター*/
footer {
  background-color: black;
  color: white;
  text-align: center;
}
footer h4 {
  font-weight: normal;
  padding: 20px 0;
}

/*メディアクリエ*/
@media all and (max-width: 1200px){

.slider img {
  width: 300px;
  height: 300px;
}

/*メンバー*/
.member-left {
  width: 50%;
}
.member-right {
  width: 350px;
}
/*コンタクト*/
  .access ,.contact {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
  }
  .contact h3 {
    padding-top: 60px;
    font-size: 24px;
  }
  input {
    margin: 30px auto;
    width: 400px;
    height: 70px;
  }
  textarea {
    height: 150px;
    margin: 30px auto;
  }
  button {
    width: 250px;
    height: 80px;
    margin: auto;
  }
}

@media all and (max-width: 1000px){
  .member-left {
    float:inherit;
    width: 100%;
    margin: 0;
  }
  .member-right {
    float: inherit;
    width: 60%;
    margin: 40px auto;
  }
  .member-right h3 {
    text-align: center;
  }
  input,textarea,button {
    width: 100%;
    margin: 30px auto;
  }
}

@media all and (max-width: 670px){
  body {
    min-width: 480px;
    margin: 0 auto;
  }
  header {
    min-width: 480px;
  }


}
